html,body { 
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:'Roboto,Arial, Helvetica, sans-serif';
  width:cal(100%-0px);
  height:auto;
  overflow-x:hidden; 
  font-family: 'Sofia';font-size: 22px;
}

.footerCSS{
    background-color:#073421;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    clear: left; 
}

.inputRenderingCSS{
  clear: left; 
}

h5{
    color:orangered
}

.navitem_css {
    color:white;
}

/*trong React là Link nhưng trong browser là a*/
a {
    text-decoration:none;
}

#nut_nhan_vien {
  background-color: black;
  color:white;
  padding: 1vw;
  margin:1vh;
}

@media only screen and (max-device-width: 480px) { /*VD iphone 6*/
     
    /*UI Nhan_vien -> 2 cột, mobile browser smaller than 480px like iphone*/
     .grid-container {
      width:100%;
      display: grid;
      grid-gap: 2vw; /* add spacing for better visibility */
      grid-template-columns: auto auto;
    }

    /*1 cột của UI Phong_ban, có responsive*/
    .proportion_according_to_screen_size {
      width: 100%;
      float: left;
      text-align: center;
    }
  }
  
  /* different techniques for iPad screening */
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only --> 4 cột */
    .grid-container {
      width:100%; /*yêu cầu 4 cột phải phân bố hết hàng row*/
      display: grid;
	    grid-gap: 10px; /* add spacing for better visibility */
      grid-template-columns: auto auto auto auto;
    }

    /*2 cột của UI Phong_ban và UI Salary, có responsive*/
    .proportion_according_to_screen_size, .responsive_to_screen_size {
      width: 50%;
      float: left;
      text-align: center;
    }
  }
  
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only --> 3 cột UI Nhan_vien*/
    .grid-container {
      width:100%;
      display: grid;
	    grid-gap: 10px; /* add spacing for better visibility */
      grid-template-columns: auto auto auto auto;
    }

    /*2 cột của UI Phong_ban và UI salary, có responsive*/
    .proportion_according_to_screen_size, .responsive_to_screen_size {
      width: 50%;
      float: left;
      text-align: center;
    }
  }
  
  /*Nest Hub 1024px, Nest Hub Max 1028px*/
  @media only screen and (min-device-width: 1025px) {
    /*3 cột UI Nhan_vien*/
    .grid-container {
      width:100%;
      display: grid;
	    grid-gap: 10px; /* add spacing for better visibility */
      grid-template-columns: auto auto auto auto auto auto;
      justify-content: center;
    }

    /*3 cột của UI Phong_ban và UI salary, có responsive*/
    .proportion_according_to_screen_size, .responsive_to_screen_size {
      width: 33%;
      float: left;
      text-align: center;
    }
  }
  

  

  .boxes {
    background: #0f0f25;
    color:aqua;
    margin: 3px;
    padding: 10px;
  }

  /*Form search*/
  #submitButton {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
  }

  .row {
      margin:2vw;
  }


  .boxes{  /*meny Phòng ban*/
    margin:1vw
  }

  
  li {
    color:red;
    
  }

/*TẠO ngón trỏ khi hover lên navlink, vì reactstrap không hỗ trợ*/
/*https://www.includehelp.com/code-snippets/change-link-color-on-hover-in-css.aspx*/

  .inactive{  /*khi đã có ReactRouterDOM.NavLink thì không cần bắt con trỏ text thành cursor nữa, vì con trỏ text là của Reactstrap.NavLink*/
    cursor: pointer;
    color:blue;
  }
  .inactive:hover {
      cursor: pointer;
      color: red; 
  }

/*TransitionGroup and CSSTransition*/
.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}
